Bonjour,</p>

La fiche de procédure ou règle de gestion n°<a href="{{url}}">{{ entity.fiche }}</a> et intitulée '{{ entity.nom }}' est en attente d'approbation de votre part.</p>

Merci de bien vouloir en prendre connaissance et engager la marche à suivre précisée dans le procédure n°0101 intitulée « Élaboration d'une fiche de procédure ou règle de gestion ».</p>

Le responsable du contrôle interne, et la responsable qualité restent à votre disposition si besoin.</p>

Cordialement,</p>

Le COPIL MP V2.0</p>

