Bonjour,</p>

Une nouvelle fiche de procédure ou règle de gestion OVE vient d'être approuvée ou mise à jour. Elle entre en application à partir du {{ entity.dateApplication|date('d/m/Y') }}.</p>

Nous vous remercions de bien vouloir en prendre connaissance en cliquant sur le lien suivant : <a href="{{url}}">{{ entity.fiche }}</a>.</p>

Il vous est demandé d'attester de la prise de connaissance de cette fiche en cliquant sur 'Accusé de réception'. Elle reste toutefois accessible 24H/24 à tout professionnel de la Fondation OVE.</p>

Nous vous rappelons que vous êtes responsable de la diffusion pour application de cette fiche aux personnels concernés. </p>

Par ailleurs, vous trouverez dans la procédure n°0101 intitulée « Élaboration d'une fiche de procédure ou règle de gestion », un modèle d'avis de diffusion à compléter et qui est destiné à l'information de votre personnel. Ce avis doit être imprimé et faire l'objet d'un affichage dans votre ou vos établissement(s) ou service(s) à réception de ce mail. </p>

Cordialement, </p>

Le COPIL MP V2.0 </p>

