{% extends "OVEProceduresBundle:Default:base.html.twig" %}


{% block content %}
  <h1>Paramétrage du manuel des procédures</h1>


  <ul class="list">
    <li><a href="{{ path('groupes')}}">Gestion des groupes</a></li>
  </ul>


{% endblock %}

