{% extends "OVEProceduresBundle:Default:base.html.twig" %}

{% block content -%}
  <h1>Gestion des trames</h1>
  <table style="width:600px" class="records_list">
      <thead>
          <tr>
              <th style="width:10%">Id</th>
              <th>Nom</th>
          </tr>
      </thead>
      <tbody>
      {% for entity in entities %}
          <tr>
              <td style="text-align:center"><a href="{{ path('trames_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
              <td style="text-align:left">{{ entity.nom }}</td>
          </tr>
      {% endfor %}
      </tbody>
  </table>
  <a type="button" class="btn btn-sm btn-default" href="{{ path('trames_new') }}"><span class="glyphicon glyphicon-plus"></span> Nouvelle trame</a>
{% endblock %}
