Bonjour,</p>

Une nouvelle version du manuel des procédures est disponible.</p>

Vous pouvez donc convertir ce <a href="https://procedures-demo.fondation-ove.fr/uploads/manuel/manuel.odt">fichier ODT</a> au format ePub.</p>

Merci d'avance.</p>


